.task {
    box-sizing: border-box;
    padding: 15px 10px 20px;
    margin-bottom: 30px;
    background-color: #167B00;
    border-radius: 2px;
    border-style: dashed;
    border-color: red;
    height: 220px;
    width: 350px;
}